.compare-img {
    width: 100px;
}

.compare-column {
    width: 150px;
}

.compare-img-cell {
    min-height: 120px;
    max-height: 120px;
    padding: 10px;
}

.compare-name-cell {
    border-bottom: 1px solid rgb(230, 230, 230);
    min-height: 70px;
    max-height: 70px;
    padding: 0 10px;
}

.compare-cell {
    border-bottom: 1px solid rgb(230, 230, 230);
    min-height: 30px;
    max-height: 30px;
    padding: 0 10px;
}

.compare-cell-dynamic {
    border-bottom: 1px solid rgb(230, 230, 230);
    min-height: 60px;
    max-height: 60px;
    padding: 0 10px;
}