.clusters-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  padding: 5px;
}

.cluster-select {
  width: 200px;
}

.cluster-right-block {
  display: flex;
  align-items: center;
}

.cluster-definition {
  margin-left: 20px;
}