.products {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
}

.product-card {
  display: flex;
}

.product-card img {
  height: 150px;
  width: 230px;
  border-radius: 0;
}

.img-wrapper {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-row .ant-col:first-of-type {
  margin-right: 5px;
}

.react-reveal {
  flex-basis: 50%;
}

.ant-collapse-expand-icon {
  display: none;
}

.ant-collapse,
.ant-collapse > .ant-collapse-item,
.ant-collapse > .ant-collapse-item > .ant-collapse-header,
.ant-collapse-header-text {
  width: 100%;
  padding: 0;
  border: none;
}

.ant-collapse .ant-card {
  width: 100%;
  background: transparent;
}

.ant-collapse-item {
  transition: all 0.2s ease-in-out, background-color 0.2s ease-in-out;
  background: #fff;
  border-radius: 6px;
}

.ant-collapse > .ant-collapse-item:last-child {
  border-radius: 6px;
}

.ant-card-hoverable:hover {
  box-shadow: none;
}

.ant-collapse-item:not(.ant-collapse-item-active):hover,
.hovered-collapse-item {
  box-shadow: 0 0 8px 2px rgb(0, 0, 0, 0.3);
  transform: scale(1.01);
  background: #fff;
  transition: all 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.ant-collapse-item:not(.ant-collapse-item-active):hover
  *:not(.anticon-loading) {
  transform: scale(1);
}

.ant-collapse-item-active {
  transform: scale(1.01);
  box-shadow: 0 0 8px 2px rgb(0, 0, 0, 0.3);
  border-radius: 6px;
}

.ant-collapse-content-active {
  border-radius: 0 0 6px 6px;
}

.ant-card.products-filters-block {
  margin-bottom: 20px;
  border: none;
}

.products-filters-block .ant-card-body {
  display: flex;
  background: white;
  border-radius: 5px;
}

.product-filter-search {
  max-width: 300px;
  margin-right: 10px;
}

.product-filter {
  flex-grow: 1;
  margin-right: 10px;
}

.ant-spin {
  transform: scale(1.5);
}

.ant-spin-dot-item {
  background-color: #fff;
}

.app-loading {
  display: flex;
}

.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-layout-content > div,
.ant-layout-content .loading-wrapper {
  height: 100%;
}

.product-card .ant-card-body,
.product-card .ant-card-body > .ant-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.product-checkbox .ant-checkbox-inner {
  width: 23px;
  height: 23px;
}

.comparator-btn-show {
  display: block;
  position: fixed;
  bottom: 40px;
  right: 220px;
}

.add-btn-show { 
  display: block;
  position: fixed;
  bottom: 40px;
  right: 90px;
}

.comparator-btn-hide {
  display: none;
}

.drawer-loading .ant-drawer-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-drawer-body .ant-spin-dot-item {
  background-color: #67be23;
}

.ant-drawer-body .ant-page-header {
  width: 100%;
}

.ant-drawer .ant-breadcrumb {
  display: none;
}
