.ant-layout {
  background: none;
}

.ant-layout-has-sider {
  background: linear-gradient(to right, #5d9ab4, #92b07a);
}

.ant-layout-sider,
.ant-layout-sider-trigger {
  background-color: #324448;
}

.ant-table,
.ant-table-thead>tr>th {
  background: none;
}

.ReactQueryDevtools {
  display: none;
}

.ant-avatar {
  border-radius: 0;
}

body::-webkit-scrollbar,
.ant-drawer-body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #92b07a;
}

.ant-drawer-body::-webkit-scrollbar-track {
  background-color: #fff;
}

body::-webkit-scrollbar-thumb,
.ant-drawer-body::-webkit-scrollbar-thumb {
  background-color: #32444892;
  border-radius: 6px;
}